@{
    ViewBag.Title = "Index";
}

<!------ Slider ------------>
<div class="slider">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="images/banner1.jpg" data-thumb="images/1.jpg" alt="" />
            <img src="images/banner2.jpg" data-thumb="images/2.jpg" alt="" />
            <img src="images/banner3.jpg" data-thumb="images/3.jpg" alt="" />
        </div>
    </div>
</div>
<!------End Slider ------------>
<!------Content ------------>
<div class="main">
    <div class="wrap">
        <div class="module-title">
            <h2 class="title">Welcome To BH Group</h2>
            <p class="modulePretext">
                Lorem ipsum dolor sit amet, consec tetuer adipiscing. Praesent vestibu lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phaselll
                lus. porta. Fusce suscipit varius mium sociis totdnatibuset magis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiatle.
                suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Lorem ipsum dolor sitat, consec tetuer adipiscing elit. Praesent.
            </p>
        </div>
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <div class="grid_img">
                    <div class="hover_img">
                        <img src="images/pic.jpg" alt="" />
                    </div>
                    <p class="desc"><a href="#">Lorem ipsum dolor sit amet</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="grid_img">
                    <div class="hover_img">
                        <img src="images/pic1.jpg" alt="" />
                    </div>
                    <p class="desc"><a href="#">Lorem ipsum dolor sit amet</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="grid_img">
                    <div class="hover_img">
                        <img src="images/pic2.jpg" alt="" />
                    </div>
                    <p class="desc"><a href="#">Lorem ipsum dolor sit amet</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <div class="grid_img">
                    <div class="hover_img">
                        <img src="images/pic3.jpg" alt="" />
                    </div>
                    <p class="desc"><a href="#">Lorem ipsum dolor sit amet</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="grid_img">
                    <div class="hover_img">
                        <img src="images/pic4.jpg" alt="" />
                    </div>
                    <p class="desc"><a href="#">Lorem ipsum dolor sit amet</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <div class="grid_img">
                    <div class="hover_img">
                        <img src="images/pic5.jpg" alt="" />
                    </div>
                    <p class="desc"><a href="#">Lorem ipsum dolor sit amet</a> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="more">
            <a href="#" class="button">View All Offers</a>
        </div>
        <div class="content-bottom">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Welcome to BH Group!</h3>
                <p class="desc2"><strong>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt.</strong></p>
                <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequ.</p>
                <p class="desc1">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut conse ctetur adipisicing elit, sed do eiusmod conse ctetur</p>
                <div class="more1">
                    <a href="#" class="button1">More</a>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Deals Calender</h3>
                <div class="module-text">
                    <strong class="module-item">28.09.2013</strong>
                    <h4><a class="moduleItemTitle" href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum.</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consec tetuer adipi
                        scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                    </p>
                </div>
                <div class="module-text">
                    <strong class="module-item">29.09.2013</strong>
                    <h4><a class="moduleItemTitle" href="#">Lorem ipsum dolor sit amet, consec teer adipiscing. Prsent vestibulum.</a></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consec tetuer adipi
                        scing. Praesent vestibu.  lum molestie lacuiirhs. Aenean non ummy hendreriauris. Phasellllus.
                    </p>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Latest News</h3>
                <div class="latest-news-grid">
                    <div class="latest-news-pic">
                        <img src="images/pic6.jpg" title="imag-name">
                    </div>
                    <div class="latest-news-info">
                        <a href="#">Oct 21.01.2013</a>
                        <p class="desc1">Lorem ipsum dolor sit amet consectetur adi elit, sed do eiusmod tempor sed do eiusmod</p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="latest-news-grid">
                    <div class="latest-news-pic">
                        <img src="images/pic7.jpg" title="imag-name">
                    </div>
                    <div class="latest-news-info">
                        <a href="#">Oct 21.01.2013</a>
                        <p class="desc1">Lorem ipsum dolor sit amet consectetur adi elit, sed do eiusmod tempor sed do eiusmod</p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="latest-news-grid">
                    <div class="latest-news-pic">
                        <img src="images/pic8.jpg" title="imag-name">
                    </div>
                    <div class="latest-news-info">
                        <a href="#">Oct 21.01.2013</a>
                        <p class="desc1">Lorem ipsum dolor sit amet consectetur adi elit, sed do eiusmod tempor sed do eiusmod</p>
                    </div>
                    <div class="clear"> </div>
                </div>
                <div class="more1">
                    <a href="#" class="button1">More</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!------End Content ------------>
       
    </div>
</div>